<html lang="es">
<head> 
    <meta charset="UTF-8">
    <title>Adoptar</title>
    <link rel="icon" type="image/png" href="imagenes-pincipales/APPDOTAME-favicon.png">
    <link rel="stylesheet" href="styles.css">
    <script src="javascript.js"></script>
</head>
    <body>
        <div class="contactar-container">
            <div class="solicitud-adopcion">
                <div id="solicitud-imagen">
                    <img id="solicitud-imagen-1" src="imagenes-pincipales/APPDOTAME-sin-fondo-logo.png">
                </div>
                <div id="solicitud-adopcion-1">
                    <h2>Solicitud de Adopción</h2>
                </div>
            </div>
            <form class="form" action="/adoptar" method="POST">
                <div class="pregunta">
                    <label for="nombre-mascota">Nombre de la mascota:</label>
                    <% if (pet) { %>  
                    <input type="text" id="nombre-mascota" name="nombreMascota" value="<%= pet.nombre %>" required>
                    <% } %>
                </div>
                
                <div class="mas">Nos gustaría saber acerca de ti</div>
                
                <div class="pregunta">
                    <label for="nombre-adopcion">Nombre del responsable de la adopción:</label>
                    <input type="text" id="nombre-adopcion" name="nombreResponsable" required>
                </div>

                <div class="pregunta">
                    <label for="edad">Edad</label>
                    <input type="number" id="edad" name="edad" min="18" required>
                </div>
                
                <div class="pregunta">
                    <label for="ciudad">Ciudad:</label>
                    <select name="ciudad" required>
                        <option value="bogota">Bogota</option>
                        <option value="cali">Cali</option>
                        <option value="medellin">Medellin</option>
                    </select>
                </div>

                <div class="pregunta">
                    <label for="localidad">Localidad:</label>
                    <input type="text" id="localidad" name="localidad" required>
                </div>

                <div class="pregunta">
                    <label for="barrio">Barrio:</label>
                    <input type="text" id="barrio" name="barrio" required>
                </div>

                <div class="pregunta">
                    <label for="telefono">Número de Telefono:</label>
                    <input type="number" id="telefono" name="telefono" pattern="[+]57[0-9]+" placeholder="+57" required>
                </div>

                <div class="pregunta">
                    <label for="email">Correo Electronico:</label>
                    <input type="email" id="email" name="correo" required>
                </div>

                <div class="familia">Cuentanos sobre tu familia</div>
                    
                <div class="pregunta">
                    <label for="numero">Número de miembros de tu familia:</label>
                    <input type="number" id="numero" name="familia" required>
                </div>

                <div class="pregunta">
                    <label for="edades">Edades:</label>
                    <input type="text" id="edades" name="edadesFamilia" required>
                </div>

                <div class="pregunta-1">
                    <label class="pregunta-info">Todos los integrantes de tu familia estan enterados de la intención de adopción</label>
                    <input type="radio" id="si1" name="intencion" value="true">
                    <label id="si-1" for="si1">Sí</label>
                    <input type="radio" id="no1" name="intencion" value="false">
                    <label id="no-1" for="no1">No</label>
                </div>

                <div class="pregunta-1">
                    <label class="pregunta-info">¿Estan de acuerdo?:</label>
                    <input type="radio" id="si1" name="acuerdo" value="true">
                    <label id="si-1" for="si1">Sí</label>
                    <input type="radio" id="no1" name="acuerdo" value="false">
                    <label id="no-1" for="no1">No</label>
                    <label class="otro">¿Porque?:</label>
                    <input type="text" id="campo-adicional" name="porque">
                </div>
                    
                <div class="pregunta-1">
                    <label class="pregunta-info">¿Alguien con alergías?:</label>
                    <input type="radio" id="si1" name="alergia" value="true">
                    <label id="si-1" for="si1">Sí</label>
                    <input type="radio" id="no1" name="alergia" value="false">
                    <label id="no-1" for="no1">No</label>
                </div>

                <div class="pregunta-1">
                    <label class="pregunta-info">Con anterioridad, ¿has tenido mascotas?:</label>
                    <input type="radio" id="si1" name="mascotaAnterior" value="true">
                    <label id="si-1" for="si1">Sí</label>
                    <input type="radio" id="no1" name="mascotaAnterior" value="false">
                    <label id="no-1" for="no1">No</label>
                </div>

                <div class="pregunta">
                    <label class="pregunta-info" for="mensaje">¿Porque ya no estan contigo?:</label>
                    <textarea id="mensaje" name="porqueYaNoEstan" rows="4" required></textarea>
                </div>

                <div class="pregunta-1">
                    <label class="pregunta-info">Actualmente, ¿Tienes otras mascotas?:</label>
                    <input type="radio" id="si1" name="mascotaActual" value="true">
                    <label id="si-1" for="si1">Sí</label>
                    <input type="radio" id="no1" name="mascotaActual" value="false">
                    <label id="no-1" for="no1">No</label>
                    <label class="otro-1">¿Cuales son?:</label>
                    <input type="text" id="campo-adicional-1" name="cuales">
                </div>

                <div class="pregunta-1">
                    <label class="pregunta-info">¿Te comprometerias a esterilizar a tú nueva compañia?:</label>
                    <input type="radio" id="si1" name="esterilizar" value="true">
                    <label id="si-1" for="si1">Sí</label>
                    <input type="radio" id="no1" name="esterilizar" value="false">
                    <label id="no-1" for="no1">No</label>
                </div>

                <div class="pregunta-1">
                    <label class="pregunta-info">Estas de acuerdo con que se realice seguimiento de adopción:</label>
                    <input type="radio" id="si1" name="seguimiento" value="true">
                    <label id="si-1" for="si1">Sí</label>
                    <input type="radio" id="no1" name="seguimiento" value="false">
                    <label id="no-1" for="no1">No</label>
                </div>

                <button id="enviar" type="submit" >Enviar</button>
            </form>
        </div>
    </body>